.calculator{
    height: 320px;
    width: 235px;
    border: solid black 1px;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 6px 4px 11px 0px #262626af;

    display: grid;
    grid-template-columns: repeat(4, 25%);
    grid-template-rows: 1fr 48px 48px 48px 48px 48px;
}